.section-carrito {
    display: none;
    position: fixed;
    background-color: white;
    z-index: 1;
    top: 150px;
    left: 150px;
    right: 150px;
    bottom: 150px;
    box-shadow: .3em .3em 10em .3em black;


    &--visible {
        display: block;
    }

}