.search-bar {
    &__logo-container {
        margin-left: auto;
        margin-right: auto;
    }
}

.nosotros-section__mision-texto h2 {
    background-color: $colorPrimario;
    color: white;
    width: 100%;
}

.nosotros-section{
  

    &__header p {
        font-size: 22px;
        padding-top: 2em;
        padding-bottom: 2em;
        padding-left: 3em;
        padding-right: 3em;
    }
    

    @media (max-width: 768px) {
        &__header h1{
            font-size: 30px;
            height: 30vh;
        }

        &__header p {
            font-size: 18px;
            padding: 1em;
        }
    
    }

    &__mision{
        display: flex;
        margin-top: 10px;
        margin-bottom: 3%;
        color: $colorTipografia;
    }

    &__mision-texto{
        font-family: 'Montserrat', sans-serif;
        margin-left: auto;
        margin-right: auto;
    }
    &__mision-texto h2{
        margin-right: 550px;
        color: white;
        font-size: 30px;
        padding: 10px;
    }

    &__mision-texto p{
        font-size: 20px;
        width:100vw ;
        margin-left: 10px;
    }
  
    @media (max-width: 768px) {
        &__mision{
            height: fit-content;
            display: flex;
            justify-content: center;
            flex-direction: column;

        }
    
        &__mision-texto h2{
            text-align: center; 
            font-size: 40px;
        }
    
        &__mision-texto p{
            font-size: 16px;
            width:80vw;
            padding: 10px;
        }
    
    }
        

    /*-----  LOCAL-----*/

    &__locales-titulo{
        height: 5vh;
        background-color: $colorPrimario;
        margin-top: 5%;
        padding-left: 10px;
        padding-top: 5px;
    }
    
    &__locales-titulo h2{
        font-size: 20px;
        color: white;

    }

    &__locales-mapa{
        display: flex;
        justify-content: center;
        margin: 0.5em;
    }


    @media (max-width: 768px) {
        &__locales-titulo{
            height: fit-content;
            display: flex;
            flex-direction: column;
        }
    
        &__locales-titulo h2{
            font-size: 50px;
            color: $colorTipografia;
        }
    
        &__locales-titulo img{
            width: 80vw;
            margin: 5px auto;
        }

    }

    &__locales-informacion{
        display: flex;
        flex-direction: column;
        width: 78vw;
        color: $colorBase;
        background-color: $colorPrimario;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 20px;
        font-size: 18px;
    }
    

    @media (max-width: 768px) {

        &__locales-informacion{
            width: 90vw;
            border: 1px solid $colorTipografia;
            padding: 5px;
            font-size: 16px;
        }
    }

  
}